*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Arial';
}
:root{
  --bg-color:#373737;
  --text-color:#605F5F;
  --input-bg:#424242;
  --input-txt:#BFBEBE;
  --border:#4F4E4E;
  --list-hover-bg:#555555;
  --modal-bg:#3f3f3f;
  --modal-bg-hover:#5c5c5c;
}

body{
  height:100%;
  min-height: 100vh;
  width:100vw;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  background:var(--bg-color);
  overflow-x:hidden;
}
.container{
  position:relative;
  width:100%;
  max-width:900px;
  padding:2rem;
}
.container h1{
  text-align:center;
  margin-bottom:3rem;
  font-size:5rem;
  color:var(--text-color);
  cursor:pointer;
}
.container input{

  padding:1rem;
  padding-left:2rem;
  line-height:1.3em;
  width:100%;
  border:none;
  background:var(--input-bg);
  outline:none;
  border-radius:2rem;
  color:var(--input-txt);
  font-size:1.3rem;
}
.list-group{
  position:absolute;
  left:0%;
  border-radius:2rem;
  width:100%;
  color:#BFBEBE;
  background:var(--input-bg);
  margin-top:1rem;
  overflow:hidden;
}
.list-group-item{
  display:flex;
  padding:20px;
  padding-left:3rem;
  padding-right:3rem;
  justify-content:space-between;
  border-bottom:1px solid var(--border);
  overflow:hidden;
  cursor:pointer;
  font-size:1.3rem;
  text-decoration:none;
  color:var(--input-txt);
  display:block;
  
}
.list-group-item:hover{
  background:var(--list-hover-bg);
}
.flex{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom:10px;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);  /*modal backdrop color*/
  display: flex;
  cursor: default;
  align-items: center;
  justify-content: center;
  display: none;
  padding: 1rem;
}
.modal.active{
  display: flex;
}
@keyframes popin{
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1.02);
  }
  100%{
    transform: scale(1);
  }
}
.modal-content{
  background-color: var(--border);
  padding: 1.5rem;
  border-radius: 1rem;
  color: #BFBEBE;
  overflow: visible;
  position: relative;
}
.modal.active .modal-content{
  animation: popin 0.5s;
}
.modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.modal-header span{
  display:block;
  cursor: pointer;
  /* font-size: 1.2rem; */
  background: var(--modal-bg);
  padding: 1rem;
  border-radius: 10px;
  transition: all 0.5s;
}
.modal-header span:hover{
  background: rgb(41, 41, 41);
}
.modal-content table{
  border: none;
  border-radius: 1rem;
  cursor: pointer;

}
.modal-content table tr{
  padding: 1rem ;
  background-color: var(--modal-bg);
  border-radius: 1rem;
}
.modal-content table tr.active{
  padding: 1rem ;
  box-shadow: -4px 8px 57px 29px rgba(0,0,0,0.6);
  border: 1px solid var(--input-txt);
  background-color: var(--modal-bg);
  margin-bottom: 1rem;
  transform: scale(1.05);
  z-index: 2;
  position: relative;
  cursor: pointer;
}
.modal-content table tr td{
  padding: 1rem;
}
.modal-content table tr td.active{
  background-color: var(--modal-bg-hover);
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: end;
}
footer .creators{
  padding: 10px;
  display: block;
  text-align: end;
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}