*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Arial';
}

body{
  height:100%;
  min-height: 100vh;
  width:100vw;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#373737;
  overflow-x:hidden;
}
.container{
  position:relative;
  width:100%;
  max-width:900px;
  padding:2rem;
}
.container h1{
  text-align:center;
  margin-bottom:3rem;
  font-size:5rem;
  color:#605F5F;
  cursor:pointer;
}
.container input{

  padding:1rem;
  padding-left:2rem;
  line-height:1.3em;
  width:100%;
  border:none;
  background:#424242;
  outline:none;
  border-radius:2rem;
  color:#BFBEBE;
  font-size:1.3rem;
}
.list-group{
  position:absolute;
  left:0%;
  border-radius:2rem;
  width:100%;
  color:#BFBEBE;
  background:#424242;
  margin-top:1rem;
  overflow:hidden;
}
.list-group-item{
  display:flex;
  padding:20px;
  padding-left:3rem;
  padding-right:3rem;
  justify-content:space-between;
  border-bottom:1px solid #4F4E4E;
  overflow:hidden;
  cursor:pointer;
  font-size:1.3rem;
  text-decoration:none;
  color:#BFBEBE;
  display:block;
  
}
.list-group-item:hover{
  background:#555555;
}
.flex{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom:10px;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  cursor: default;
  align-items: center;
  justify-content: center;
  display: none;
  padding: 1rem;
}
.modal.active{
  display: flex;
}
@keyframes popin{
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1.02);
  }
  100%{
    transform: scale(1);
  }
}
.modal-content{
  background-color: #4F4E4E;
  padding: 1.5rem;
  border-radius: 1rem;
  color: #BFBEBE;
  overflow: visible;
  position: relative;
}
.modal.active .modal-content{
  animation: popin 0.5s;
}
.modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.modal-header span{
  display:block;
  cursor: pointer;
  /* font-size: 1.2rem; */
  background: #3f3f3f;
  padding: 1rem;
  border-radius: 10px;
}
.modal-content table{
  border: none;
  border-radius: 1rem;
  cursor: pointer;

}
.modal-content table tr{
  padding: 1rem ;
  background-color: #3f3f3f;
  border-radius: 1rem;
}
.modal-content table tr.active{
  padding: 1rem ;
  box-shadow: -4px 8px 57px 29px rgba(0,0,0,0.6);
  border: 1px solid #BFBEBE;
  background-color: #3f3f3f;
  margin-bottom: 1rem;
  transform: scale(1.05);
  z-index: 2;
  position: relative;
  cursor: pointer;
}
.modal-content table tr td{
  padding: 1rem;
  /* font-size: 1.5rem; */
}
.modal-content table tr td.active{
  background-color: #5c5c5c;
}
