<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome To Timetable</title>
    <link href="/static/main.css" rel="stylesheet"
  </head>
  <body>
    <div class= "container">
      <h1>OXFORD</h1>
	    <input id="query" type="text" placeholder="Enter Faculty Name : " class="form-control">
	    <ol class="list-group list-group-numbered" id="content">
      </ol>
    </div>
    <script src="/static/main.js"></script>
  </body>
</html>
