<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome To Timetable</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class= "container-sm mt-4 " >
	    <input id="query" type="text" placeholder="Enter Faculty Name : " class="form-control">
	    <ol class="list-group list-group-numbered" id="content">
      </ol>
    </div>
    <script src="/static/main.js"></script>
  </body>
</html>
